.pokeball {
  position: fixed;
  right: -63px;
  width: 50%;
  top: -38px;
  opacity: 0.07;
  z-index: -9999;
}

.pokemons {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 184px);
  justify-items: center;
  width: fit-content;
}

.pokemon {
  background-color: #49d0b0;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 1rem;
  color: #fff;
  border-radius: 1rem;
  width: 164px;
  z-index: 9999;
  overflow: hidden;
  position: relative;
}

.pokemon-ball {
  position: absolute;
  right: -11px;
  width: 43%;
  top: 70px;
  z-index: -9999;
  overflow: auto;
  opacity: 0.2;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  /* background-color: #61e1ca; */
  color: #fff;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}

.pokemon .detail img {
  max-width: 70%;
  height: 70px;
  align-self: flex-end;
}

.content .name,
.content .number,
.pokemon .detail .types .type {
  font-weight: 600;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

#loadMoreButton {
  border: none;
  border-radius: 2rem;
  background-color: #6c79db;
  color: #fff;
  margin: 0.25rem 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 600;
}

#loadMoreButton:hover,
#loadMoreButton:active {
  cursor: pointer;
  background-color: rgb(108, 110, 219);
}

#loadMoreButton:active {
  background-color: rgb(108, 99, 219);
}

